<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Pentagonal-prism</title>
        <link rel="stylesheet" href= "{{ url_for('static',filename='shapes.css') }}">
    </head>

    <body>
        <header>
            <div class="header-box">
                <h1>Pentagonal-prism surface area, lateral area, and volume</h1>
            </div>
        </header>
        <nav class="site-nav group">
            <ul class="group">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href= "{{ url_for('cone') }}">Cone</a></li>
                <li><a href="{{ url_for('cube') }}">Cube</a></li>
                <li><a href="{{ url_for('cylinder') }}">Cylinder</a></li>
                <li><a href="{{ url_for('sphere') }}">Sphere</a></li>
                <li><a href="{{ url_for('pyramid') }}">Pryamid</a></li>
                <li><a href="{{ url_for('triangular_prism') }}">Triangular-Prism</a></li>
                <li><a href="{{ url_for('rectangular_prism') }}">Rectangular-Prism</a></li>
                <li><a href="{{ url_for('pentagonal_prism') }}">Pentagonal-Prism</a></li>
                <li><a href="{{ url_for('hexagonal_prism') }}">Hexagonal-Prism</a></li>
            </ul>
        </nav>
        <div class="content-area group">
            <div class="calculator group">
                <h2>Calculator</h2>
                <form method="POST">
                    <input type="number" step=.00000001 name="height" id="height" placeholder="Enter height" />

                    <input type="number" step=.00000001 name="base-edge" id="base-edge" placeholder="Enter base-edge">

                    <label for="height" class="hidden-label">Enter the pentagonal-prism's height:</label>
                    <label for="base-edge" class="hidden-label">Enter the pentagonal-prism's base-edge</label>

                    <input type="submit" value="submit">
                </form>
                    
                <p>Height: {{Height}}</p>
                <p>Base-edge: {{Base_edge}}</p>
                <p>Volume: {{Volume}}</p>
                <p>Lateral area: {{Lateral_area}}</p>
                <p>Surface area: {{Surface_area}}</p>
            </div>

            <div class="formulas">
                <p><em>a</em> is the base-edge, <em>h</em> is the height</p>
                <p>The formula for surface area of a pentagonal-prism: </p>
                <img src="{{ url_for('static', filename='Pentagonal-prism/Pentagonal-prism-Surface-area-formula.png') }}">

                <p>The formula for lateral area of a pentagonal-prism:</p>
                <img src="{{ url_for('static', filename='Pentagonal-prism/Pentagonal-prism-Lateral-area-formula.png') }}">

                <p>The formula for volume of a pentagonal-prism:</p>
                <img src="{{ url_for('static', filename='Pentagonal-prism/Pentagonal-prism-Volume-formula.png') }}">
            </div>
        </div>
    </body>

</html>